CONFIG PROHIBIT=P60;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P144;
CONFIG PART="XC6SLX9-TQG144-2";

# Clock
NET "CLK_32MHZ" LOC = "P94" | IOSTANDARD = LVTTL | TNM_NET = CLK_32;
TIMESPEC TS_CLK_32MHZ = PERIOD "CLK_32" 32 MHz HIGH 50%;

NET RX               LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # RX
NET TX               LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # TX

NET LEDS<0>          LOC="P123" | IOSTANDARD=LVTTL;
NET LEDS<1>          LOC="P124" | IOSTANDARD=LVTTL;
NET LEDS<2>          LOC="P126" | IOSTANDARD=LVTTL;                                # C10
NET LEDS<3>          LOC="P127" | IOSTANDARD=LVTTL;                                # C11
NET LEDS<4>          LOC="P131" | IOSTANDARD=LVTTL;                                # C12
NET LEDS<5>          LOC="P132" | IOSTANDARD=LVTTL;                                # C13
NET LEDS<6>          LOC="P133" | IOSTANDARD=LVTTL;                                # C14
NET LEDS<7>          LOC="P134" | IOSTANDARD=LVTTL;                                # C15

NET SWITCHES<0>      LOC="P114" | IOSTANDARD=LVTTL;
NET SWITCHES<1>      LOC="P115" | IOSTANDARD=LVTTL;
NET SWITCHES<2>      LOC="P116" | IOSTANDARD=LVTTL;
NET SWITCHES<3>      LOC="P117" | IOSTANDARD=LVTTL;
NET SWITCHES<4>      LOC="P118" | IOSTANDARD=LVTTL;
NET SWITCHES<5>      LOC="P119" | IOSTANDARD=LVTTL;
NET SWITCHES<6>      LOC="P120" | IOSTANDARD=LVTTL;
NET SWITCHES<7>      LOC="P121" | IOSTANDARD=LVTTL;

NET JOY_UP           LOC="P50"  | IOSTANDARD=LVTTL;                                # B14
NET JOY_DOWN         LOC="P55"  | IOSTANDARD=LVTTL;                                # B13
NET JOY_LEFT         LOC="P57"  | IOSTANDARD=LVTTL;                                # B12
NET JOY_RIGHT        LOC="P59"  | IOSTANDARD=LVTTL;                                # B11

NET SS_ANODES<0>     LOC="P85"  | IOSTANDARD=LVTTL;
NET SS_ANODES<1>     LOC="P79"  | IOSTANDARD=LVTTL;
NET SS_ANODES<2>     LOC="P56"  | IOSTANDARD=LVTTL;
NET SS_ANODES<3>     LOC="P48"  | IOSTANDARD=LVTTL;
NET SS_SEGS<0>       LOC="P75"  | IOSTANDARD=LVTTL;
NET SS_SEGS<1>       LOC="P83"  | IOSTANDARD=LVTTL;
NET SS_SEGS<2>       LOC="P66"  | IOSTANDARD=LVTTL;
NET SS_SEGS<3>       LOC="P67"  | IOSTANDARD=LVTTL;
NET SS_SEGS<4>       LOC="P58"  | IOSTANDARD=LVTTL;
NET SS_SEGS<5>       LOC="P61"  | IOSTANDARD=LVTTL;
NET SS_SEGS<6>       LOC="P81"  | IOSTANDARD=LVTTL;
NET SS_DP            LOC="P51"  | IOSTANDARD=LVTTL;

