CONFIG PROHIBIT=P60;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P144;
CONFIG PART="XC6SLX9-TQG144-2";

# Clock
#NET "CLK_32MHZ<0>" LOC = "P89" | IOSTANDARD = LVCMOS25 | TNM_NET = CLK_32;
NET "CLK_32MHZ" LOC = "P94" | IOSTANDARD = LVTTL | TNM_NET = CLK_32;
TIMESPEC TS_CLK_32MHZ = PERIOD "CLK_32" 32 MHz HIGH 50%;

NET "BUTTON_LEFT" LOC = "P57"  | IOSTANDARD = LVTTL;
NET "BUTTON_RIGHT" LOC = "P59"  | IOSTANDARD = LVTTL;

# NET RX             LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # RX
# NET TX             LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # TX

NET "LED<0>"      LOC="P123" | IOSTANDARD=LVTTL;
# NET "LED<1>"      LOC="P124" | IOSTANDARD=LVTTL;

# NET SWITCH<0>      LOC="P114" | IOSTANDARD=LVTTL;
# NET SWITCH<1>      LOC="P115" | IOSTANDARD=LVTTL;
# NET SWITCH<2>      LOC="P116" | IOSTANDARD=LVTTL;
# NET SWITCH<3>      LOC="P117" | IOSTANDARD=LVTTL;
# NET SWITCH<4>      LOC="P118" | IOSTANDARD=LVTTL;
# NET SWITCH<5>      LOC="P119" | IOSTANDARD=LVTTL;
# NET SWITCH<6>      LOC="P120" | IOSTANDARD=LVTTL;
# NET SWITCH<7>      LOC="P121" | IOSTANDARD=LVTTL;


NET SS_ANODES<0>     LOC="P85"  | IOSTANDARD=LVTTL;
NET SS_ANODES<1>     LOC="P79"  | IOSTANDARD=LVTTL;
NET SS_ANODES<2>     LOC="P56"  | IOSTANDARD=LVTTL;
NET SS_ANODES<3>     LOC="P48"  | IOSTANDARD=LVTTL;
NET SS_SEGS<0>       LOC="P75"  | IOSTANDARD=LVTTL;
NET SS_SEGS<1>       LOC="P83"  | IOSTANDARD=LVTTL;
NET SS_SEGS<2>       LOC="P66"  | IOSTANDARD=LVTTL;
NET SS_SEGS<3>       LOC="P67"  | IOSTANDARD=LVTTL;
NET SS_SEGS<4>       LOC="P58"  | IOSTANDARD=LVTTL;
NET SS_SEGS<5>       LOC="P61"  | IOSTANDARD=LVTTL;
NET SS_SEGS<6>       LOC="P81"  | IOSTANDARD=LVTTL;
NET SS_DP            LOC="P51"  | IOSTANDARD=LVTTL;

